/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.card:hover {
    transform: scale(1.01);
    background: linear-gradient(45deg, rgba(29, 236, 197, 0.5), rgba(91, 14, 214, 0.5) 100%);
}
.myClass {
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: rgba(9, 73, 248, 0.793);
    padding: 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid rgba(9, 73, 248, 0.793);
    max-width: 350px;
}
